{{#if addResponse}}
    <form>
      <div class="form-group">
        <label for="responder">Who Are You?</label>
        {{input class="form-control" placeholder="username please" value=responder id="responder"}}
      </div>
      <div class="form-group">
        <label for="answer">What's Your Answer or Comment?</label>
        {{input class="form-control" value=answer id="answer"}}
      </div>
      <button class="btn" {{action 'saveResponse'}}>Save Response</button>
    </form>
{{else}}
  <button class="btn btn-lg ask-a-question" {{action 'responseFormShow'}}>Respond!</button>
{{/if}}
