{{#if addPost}}
  <form>
    <div class="form-group">
      <label for="author">Who Are You?</label>
      {{input class="form-control" placeholder="username please" value=author id="author"}}
    </div>
    <div class="form-group">
      <label for="question">What is Your Question?</label>
      {{input class="form-control" placeholder="whatever you'd like to ask...trivia question, advice, etc" value=question id="question"}}
    </div>
    <div class="form-group">
      <label for="body">Additional Information</label>
      {{textarea rows="8" class="form-control" placeholder="contextual info goes a long way" value=body id="body"}}
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      {{input class="form-control" placeholder="ex. black metal, hair metal, black-hair metal" value=category id="category"}}
    </div>
    <button class="btn" {{action 'savePost'}}>Submit Question</button>
  </form>
{{else}}
  <button class="btn btn-lg ask-a-question" {{action 'postFormShow'}}>Ask a Question</button>
{{/if}}
