{{#if updatePostForm}}
<div class="row">
  <div class=" center col-md-12 form-padding">
    <form>
      <div class="form-group">
        <label for="author"><u>Who Are You?</u></label>
        {{input class="form-control" placeholder="username please" value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="question"><u>What Do You Have To Say?</u></label>
        {{input class="form-control" placeholder="whatever you'd like to ask or get off your chest" value=question id="question"}}
      </div>
      <div class="form-group">
        <label for="body"><u>Additional Information</u></label>
        {{textarea rows="8" class="form-control" placeholder="contextual info goes a long way" value=body id="body"}}
      </div>
      <div class="form-group">
        <label for="category"><u>Category</u></label>
        {{input class="form-control" placeholder="ex. black metal, hair metal, black-hair metal" value=category id="category"}}
      </div>
      <button class="btn btn-lg" {{action 'updatePost' post}}>Update Post</button>
    </form>
  </div>
</div>
{{else}}
  <button class="btn btn-sm" {{action 'showUpdateForm'}}>Update Your Question</button>
  {{/if}}
