<div class="row center">
  <div class="row">
    <div class="col-md-12">
      {{full-post post=model}}
    </div>
  </div>
  <hr>
  <div class="row">
      {{update-post post=model updatePost="updatePost"}}
  </div>
  <br>
  <div class="row">
      {{delete-post post=model deletePost="deletePost"}}
  </div>
</div>
<br>
<h4><u>comments</u></h4>
<ul>
  {{#each model.responses as |response|}}
    {{show-all-responses response=response}}
  {{/each}}
</ul>

{{new-response saveResponse="saveResponse" post=model}}
