<h3>question</h3>
{{full-post post=model}}
{{delete-post post=model deletePost="deletePost"}}
<br>
{{update-post post=model updatePost="updatePost"}}

<br><br>
<h3>comments</h3>

<ul>
  {{#each model.responses as |response|}}
    {{show-all-responses response=response}}
  {{/each}}
</ul>

{{new-response saveResponse="saveResponse" post=model}}
