<div class="row center">
  <div class="row">
    <div class="col-md-12">
      {{full-post post=model}}
    </div>
  </div>
  <hr>
  <div class="row">
      {{update-post post=model updatePost="updatePost"}}
  </div>
  <br>
  <div class="row">
      {{delete-post post=model deletePost="deletePost"}}
  </div>
  <br>
  <div class="row">
    {{new-response saveResponse="saveResponse" post=model}}
  </div>
  <br>
  <h3><u>Previous Responses</u></h3>
</div>
  {{#each model.responses as |response|}}
    {{show-all-responses response=response}}
  {{/each}}
